* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background: #e9ffdb;
}

header {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 10px 60px 0 60px;
    background: #addfad;
}

.navbar {
    display: none;
}

.title {
    font-family: 'Akronim', cursive;
    font-size: 35px;
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

li a:hover {
    color: white;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 0px;
}

.cart a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
}

.container, .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 30px;
}

.image {
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 1px solid gree;
    padding: 10px;
    box-shadow: 2px 2px 5px green;
}

img {
    width: 350px;
    height: 250px;
}

.container-detils {
    width: 75%;
}

.details-image img {
    width: 700px;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.details-image h2 {
    font-family: 'Noto Sans Bengali', sans-serif; 
}

.details-image a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    background:  #addfad;;
}
.details {
    text-align: justify;    
}

.add-cart {
    position: absolute;
    width: 94.75%;
    background: #addfad;
    transition: all 0s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 67px;
    opacity: 0.7;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
}

.name {
    font-family: 'Noto Sans Bengali', sans-serif;  
}

@media (max-width: 940px) {
    .details-image img {
        width: 100%;
    }
}

#footer {
    background:#addfad;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#footer a {
    text-decoration: none;
    text-transform: uppercase;
}

.social-media {
    font-size: 30px;
    line-height: 20px;
}

.social-media a .fab {
    font-size: 27px;
}

.social-media a {
    color: darkgreen;
    vertical-align: middle;
}

#copyright a {
color: blue;
}

@media (max-width: 649px) and (min-width: 480px) {
    
    .order {
        display: none;
    }
}

@media (max-width: 479px) {
    .order {
        display: none;
    }
    nav h2 {
        font-size: 25px;
    }
    .call {
        font-size: 20px;
    }
    nav li {
        padding-top: 10px;
    }
    .call-icon {
        display: none;
    }
    .details-image img {
        height: 300px;
    }
}

@media (max-width: 400px) {
    img {
        width: 250px;
        height: 200px;
    }
    nav {
        padding: 10px;
    }
}

@media (max-width: 315px) {
    img {
        width: 200px;
        height: 150px;
    }
    .call-icon {
        display: none;
    }
}
